@marginSize: 16px;
@maxWidth: 1440px;
@radiusL: 12px;
@radiusM: 8px;
@radiusS: 4px;

@font-face {
    font-family: Time-Number;
    src: url('../font/Time-Number.ttf');
}

@font-face {
    font-family: Art;
    src: url('../font/Art.otf');
}

@ffDate: 'Time-Number';
@ffArt: 'Art';

*{
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    user-select: none;
}

body {
    position: relative;
    width: 100%;
    height: auto;
    background: #e5e4e4;
    font-family: @ffArt;
    font-size: 14px;

    nav {
        position: relative;
        width: 100%;
        height: 100vh;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        .nav-wrap {
            width: 100%;
            max-width: @maxWidth;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 2px 2px 16px 1.5px #f4f4f460;
            color: #f4f4f4;

            .nav-left {
                width: 38%;

                .nav-left-date {


                    > p {
                        font-size: 24px;
                        color: #f4f4f4;

                    }

                    > span {
                        font-size: 64px;
                        color: #f4f4f4;
                        font-family: @ffDate;
                    }
                }
            }

            .nav-right {
                width: 58%;
            }

            img {
                background: #dae5e0b5;
                border-radius: 8px;
                padding: 8px;
                box-shadow: inset 3px 3px 6px #bfc5c3, inset -6px -6px 12px #f5f5f5, 2px 2px 15px 1px #3a0a0a80;
            }
        }


        &:before {
            position: absolute;
            display: block;
            content: '';
            width: 100%;
            height: 100vh;
            top: 0;
            left: 0;
            background: url("../img/bg.jpg") center no-repeat;
            background-size: cover;
            z-index: -1;
        }
    }

    header {
        position: sticky;
        box-sizing: border-box;
        width: 100%;
        height: 48px;
        padding: 0 calc((100% - 1440px) / 2);
        top: 0;
        backdrop-filter: blur(12px);
        box-shadow: 0 2px 8px 1px #975a8357;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-name {
            width: 240px;
            display: flex;
            align-items: center;
            margin-right: @marginSize;

            > img {
                width: 40px;
                height: 40px;
                border-radius: 40px;
                margin-right: @marginSize;
            }
        }

        .header-menu {
            display: flex;

            > p {
                padding: 8px 16px;
                border-radius: 4px;
                margin-left: @marginSize;
                cursor: pointer;
                transition: all .4s;

                box-shadow: 4px 4px 6px 1px #d9dce6,
                inset 4px 5px 6px #e2e4e8,
                    inset -3px -4px 8px #f5f9fd,
                inset 4px 3px 4px #d9dce6;
            }
        }
    }

    main {
        width: 100%;
        max-width: 1440px;
        display: flex;
        justify-content: space-between;
        margin: @marginSize auto;

        > aside {
            width: 240px;
            margin-right: @marginSize;
            flex-shrink: 0;

            .aside-personal {
                > img {
                    display: block;
                    width: 120px;
                    height: 120px;
                    margin: 36px auto;
                    border-radius: 100%;
                }
            }
        }

        > section {
            width: 100%;
            background: #c6c8c9;
        }


    }
}

/* 水滴形状 */
//position: absolute;
//background: #8775a780;
//width: 60px;
//height: 60px;
//border-radius: 28px 24px 32px 30px;
//top: 507px;
//left: 600px;
//color: transparent;
//box-shadow: inset 2px 2px 16px 1.5px #ffffffa0;
