body {
    position: relative;
    width: 100%;
    height: auto;

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    &::-webkit-scrollbar-track {
        width: 6px;
        background-color: #f4f7f8;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #d4d4d5;
        background-clip: padding-box;
        min-height: 28px;
        border-radius: 6px;

        &:hover {
            background: #ddd;
        }
    }

}
