* {
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  user-select: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
img {
  display: block;
}
:root {
  --bg-img: url("../img/bg.jpg");
}
@font-face {
  font-family: Time-Number;
  src: url('../font/Time-Number.ttf');
}
@font-face {
  font-family: Art;
  src: url('../font/Art.otf');
}
body {
  position: relative;
  width: 100%;
  height: auto;
  background: #e5e4e4;
  font-family: 'Art';
  font-size: 14px;
}
body .bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: var(--bg-img) center no-repeat;
  background-size: cover;
  z-index: -1;
}
body nav {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
body nav .nav-wrap {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 16px 1.5px #f4f4f460;
  color: #f4f4f4;
}
body nav .nav-wrap .nav-left {
  width: 38%;
}
body nav .nav-wrap .nav-left .nav-left-date > p {
  font-size: 24px;
  color: #f4f4f4;
}
body nav .nav-wrap .nav-left .nav-left-date > span {
  font-size: 64px;
  color: #f4f4f4;
  font-family: 'Time-Number';
}
body nav .nav-wrap .nav-right {
  width: 58%;
}
body nav .nav-wrap img {
  background: #dae5e0b5;
  border-radius: 8px;
  padding: 8px;
  box-shadow: inset 3px 3px 6px #bfc5c3, inset -6px -6px 12px #f5f5f5, 2px 2px 15px 1px #3a0a0a80;
}
body header {
  position: sticky;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding: 0 calc((100% - 1440px) / 2);
  top: 0;
  background: #ffffff20;
  backdrop-filter: blur(12px);
  box-shadow: inset 0 2px 8px 1px #975a8357;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}
body header .header-name {
  width: 240px;
  display: flex;
  align-items: center;
  margin-right: 16px;
  color: #fff;
}
body header .header-name > img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  margin-right: 16px;
}
body header .header-menu {
  display: flex;
}
body header .header-menu > p {
  padding: 8px 16px;
  border-radius: 4px;
  margin-left: 16px;
  cursor: pointer;
  transition: all 0.4s;
  color: #f2f8fa;
}
body main {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  margin: 16px auto;
}
body main > aside {
  width: 240px;
  margin-right: 16px;
  flex-shrink: 0;
}
body main > aside .aside-personal {
  padding: 16px;
  backdrop-filter: blur(12px);
  box-shadow: inset 0 0 8px 2px #f4f4f480;
  border-radius: 8px;
  text-align: center;
}
body main > aside .aside-personal > img {
  display: block;
  width: 108px;
  height: 108px;
  margin: 0 auto 16px;
  border-radius: 100%;
}
body main > aside .aside-personal .aside-personal-name {
  font-size: 16px;
  color: #fff;
  margin-bottom: calc(16px / 2);
}
body main > aside .aside-personal .aside-personal-job {
  color: #f2f2f2;
  margin-bottom: calc(16px / 2);
}
body main > aside .aside-personal .aside-personal-introduce {
  color: #9e9e9e;
  margin-bottom: calc(16px / 2);
}
body main > aside .aside-personal .aside-personal-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
body main > section {
  width: 100%;
}
body main > section .main-my {
  border-radius: 8px;
  height: 320px;
  box-shadow: 2px 2px 16px 1.5px #f4f4f460;
  margin-bottom: 16px;
  background-color: #fff;
  background-image: linear-gradient(90deg, rgba(159, 219, 252, 0.15) 3%, transparent 0), linear-gradient(1turn, rgba(159, 219, 252, 0.15) 3%, transparent 0);
  background-size: 20px 20px;
  background-position: 50%;
}
/* 水滴形状 */
/*# sourceMappingURL=index.css.map */